<div id="base_view">
    <nav id="base_navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Web Template</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#base_nav_collapse" aria-controls="base_nav_collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="base_nav_collapse" class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <a id="base_nav_home" class="nav-link" href="#">Home</a>
                    <a id="base_nav_scripts" class="nav-link" href="#scripts">Scripts</a>
                    <a id="base_nav_style" class="nav-link" href="#style">Style</a>
                    <a id="base_nav_tests" class="nav-link" href="#tests">Tests</a>
                </div>
            </div>
        </div>
    </nav>

    <div id="base_content" class="container" data-bind="templateLoad: currentView"></div>

    <div id="base_footer" class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-nav">
                <a id="base_footer_home" class="nav-link active" href="#">
                    <i class="fa fa-home fa-lg"></i> <span class="d-none d-sm-inline-block">Home</span>
                </a>
                <a id="base_footer_scripts" class="nav-link active" href="#scripts">
                    <i class="fa fa-file fa-lg"></i> <span class="d-none d-sm-inline-block">Scripts</span>
                </a>
                <a id="base_footer_style" class="nav-link active" href="#style">
                    <i class="fa fa-css3 fa-lg"></i> <span class="d-none d-sm-inline-block">Style</span>
                </a>
                <a id="base_footer_tests" class="nav-link active" href="#tests">
                    <i class="fa fa-check fa-lg"></i> <span class="d-none d-sm-inline-block">Tests</span>
                </a>
            </div>
        </div>
    </div>
</div>
