<div id="home_view">
    <h1>
        Web Template -
        Development<!-- remove:line this line will be removed and the following block will be what is seen in production
        Production
        remove:line-->
    </h1>
    <p>A template for creating single page web applications.</p>

    <h2>Features</h2>
    <ul>
        <li>TypeScript</li>
        <li>Sass</li>
        <li>Knockout</li>
        <li>Bootstrap</li>
        <li>FontAwesome</li>
        <li>jQuery</li>
        <li>mocha/chai/sinon</li>
        <li>Custom Hash Router</li>
    </ul>

    <h2>Getting Started</h2>
    <p>Run <span class="code">npm run dev</span> to run the web app in development mode.</p>

    <h2>NPM Scripts</h2>
    <ul>
        <li><span class="bold">compile</span> - install dependencies and compile typescript and scss in <span class="code">src/</span></li>
        <li><span class="bold">test</span> - compile then run tests with mocha</li>
        <li><span class="bold">build</span> - test then compile and copy files to <span class="code">dist/</span></li>
        <li><span class="bold">dev</span> - compile then start the app locally in development mode</li>
        <li><span class="bold">prod</span> - build then start the app locally in production mode</li>
        <li><span class="bold">deploy</span> - build then deploy code to host server</li>
    </ul>

    <h2>Starting  from Template</h2>
    <p>Find files that need to be updated with new project name using <span class="code">grep "web-template" . -r</span>.</p>
</div>
