<div id="scripts_view">
    <h1>Scripts</h1>

    <h2>build.js</h2>
    <p>A node script that builds the project from <span class="code">src/</span> to <span class="code">dist/</span>.</p>

    <h2>deploy.sh</h2>
    <p>Deploys the production code to a remote server.</p>

    <h2>dev.sh</h2>

    <p>Runs the app locally from <span class="code">src/</span>.</p>
    <h2>env.sh</h2>

    <p>The script that holds all of the variables used across multiple scripts.</p>

    <h2>get_certificates.sh</h2>
    <p>Gets certificates issued from letsencrypt using certbot in a docker container. (for server use)</p>

    <h2>get_self_signed.sh</h2>
    <p>Generates self signed certificates so the app can be run locally with the same settings as the production server. (for local use)</p>


    <h2>init_server.sh</h2>
    <p>Installs necessary tools to run the application on the host server.</p>

    <h2>prod.sh</h2>
    <p>Runs the app locally from <span class="code">dist\</span>.</p>

    <h2>renew_certificates.sh</h2>
    <p>Renews certificates from letsencrypt using certbot in a docker container. (for server use)</p>
</div> 