<div id="style_view">
    <h1>Web Template Styles</h1>
    <p>
        Each view has its own file for styling. (e.x. <span class="code">_home.scss</span>)
        <br />
        <span class="code">style.scss</span> includes each view's file as well as external Sass files from services like Bootstrap and FontAwesome.
    </p>
</div>