<div id="tests_view">
    <h1>Testing</h1>
    <ol>
        <li>Create typescript file in <span class="code">js/</span></li>
        <li>Include the file in a test set in <span class="code">spec.ts</span></li>
    </ol>

    <p>
        The test result should output when running <span class="code">npm test</span>.

        Since tests are run in node, <span class="code">specInit.js</span> configures requireJS
        for node so the AMD modules in the project can be loaded.
        
        See <span class="code">spec/js/viewModels/</span> for examples.
    </p>
        
    <h2>Notes</h2>
    <ul>
        <li>Spies don't detect calls that are the result of being notified by an observable.</li>
    </ul>
</div> 