#base_view {
    #base_content {
        margin-top: $content-padding;
        margin-bottom: $content-padding;
    }

    #base_footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
