html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    min-height: 100%;
}

.clickable {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}

.bg-faded {
    background-color: rgba(0, 0, 0, .15);
}

.bg-faded-dark {
    background-color: rgba(0, 0, 0, .50);
}

@for $i from 0 through 4 {
    .alpha-#{$i * 25} {
        opacity: .25 * $i;
    }
}

.code {
    @extend .bg-faded;
    font-family: monospace;
    padding: .1em .25em;
    border-radius: .25em;
}
